@import "nullstyle.scss";
@import "general.scss";
@font-face {
    font-family: 'MorfinSans';
    src: url('../fonts/MorfinSans-Regular.woff2') format('woff2'),
        url('../fonts/MorfinSans-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


// -------------- ОБЩИЕ СТИЛИ  -------------- 

body {
    font-family: MorfinSans;
    text-transform: uppercase;
    text-align: center;
}

.heading {
    font-size: 60px;
    margin: 0 0 30px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.slider {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.arrow {
    display: grid;
    align-items: center;
    position: absolute;

    top: 0;
    &--left {
        left: 0;
    }
    &--right {
        right: 0;
    }
    
}

.arrow-btn {
    height: 100%;
    background-color: rgba($color: #d2d2d2, $alpha: 0.3);
    transition: all 0.1s;

    &:active {
        background-color: rgba($color: #d2d2d2, $alpha: 0.7);
    }
}

.arrow-img {
    display: block;
    width: 50px;


}

.hide {
    display: none!important;
}

* {
    -webkit-tap-highlight-color: transparent;
  }

// -------------- PAGE-HEADER  -------------- 

.page-header {
    color: #fff;
    position: fixed;
    z-index: 1000;

    width: 100%;
    padding: 5px 0;

    box-shadow: 0 0 2px #000000;  
    background-color: #000000;  
}

.page-header__row {
    display: flex;
    justify-content: space-between;
}

.page-header__img {
    margin: 0 10px 0 0;
    width: 50px;
    height: 50px;
}

.page-header__logo-text {
    margin: 5px 0 0 0;
    
    font-size: 50px;
}

.page-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.page-header__nav.active {
    transform: scale(1);
}

.page-header__link {
    font-size: 24px;
    color: #fff;
    position: relative;
    transition: transform 0.3s;

    @media (hover: hover) and (pointer: fine) {
        &::before {
            content: "";
            transition: 0.2s;
            position: absolute;
            bottom: 0;
    
            width: 100%;
            height: 3px;
            border-radius: 2px;
            
            background-color: #fff;
            transform: scale(0);
        }
        &:hover::before {
            transform: scale(1.2);
        }        
    }
}

.burger {
    display: none;
    background-color: transparent;
}

.burger__img {
    width: 40px;
    height: 40px;
}


// -------------- PAGE-MAIN  -------------- 

.page-main {
    width: 100%;
    flex: 1 1 auto;

    padding: 60px 0 0 0;
}

.page-main__section{
    padding: 60px 0;
}



// -------------- ABOUT-US  -------------- 

.about-us {
    padding-top: 30px;
    font-size: 24px;
    color: #d2d2d2;
    background: url('../img/bg1.jpg') no-repeat;
    background-size: cover;
}

    

.about-us__desc {
    display: flex;
}

.about-us__text-block {
    margin: 0 20px 0 0;
}

.about-us__text {
    text-align: left;
    line-height: 30px;
    transition: max-height 0.2s ease; 
}

.about-us__open-text {
    display: none;
    width: 100%;
}

.about-us__arrow {
    width: 30px;

}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.address__bg {
    width: 399px;
    max-width: 100%;
    
    padding: 0 0 10px 0;
    margin: 0 auto;

    border-radius: 20px;
    box-shadow: 0 0 10px #131313;
    background-color: rgba(0, 0, 0, 75%);
}

.address__slider {
    margin: 0 0 10px 0;
}

.address__imgs {
    display: flex;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}


.address__img {
    border-radius: 20px;
    width: 100%;
    max-height: 225px;
}

.address__arrow .arrow-img{
    width: 40px;
}

.address__text {
}


// -------------- MY-WORKS  -------------- 

.my-works {
    background: url('../img/bg9.jpg') no-repeat;
    background-size: cover;
}

.my-works__heading {
    display: inline-block;
    color: #000000;
}

.wraper1 {
    width: 855px;
    max-width: 100%;

}


// .my-works__slider {
//     width: 855px;
//     max-width: 100%;
//     max-height: 500px;
//     margin: 0 auto;
//     // overflow: visible;
// }

// .my-works__imgs {
//     display: flex;
//     width: 100%;
//     transition: transform 0.3s ease-in-out;
// }

// .my-works__item {
//     max-width: 855px;
//     // min-width: 100%;
//     width: 100%;
//     max-height: 855px;
//     box-shadow: 0 0 10px;
//     object-position: center;

//     object-fit: cover;
// }

.my-works__slider {
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
}

.my-works__imgs {
    display: flex;
    transition: transform 0.3s ease;
}

.my-works__item {
    max-width: 575px;
    max-height: 575px;
    width: 100%;
    height: auto;
}

.my-works__btn {
}


// -------------- PAGE-PRICE  -------------- 

.price {
    color: #d2d2d2;
    background: url('../img/bg3.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.price__heading {
    color: #fff;
}

.price__bg {
    padding: 40px 0;
    margin: 0 auto;
    width: 85%;
    background-color: #1a1a1a;
}

.price__list {
    display: flex;
    flex-direction: column;

    gap: 30px;
    margin: 0 auto;

    width: 387px;

}

.price__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 24px;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;

        height: 3px;
        width: 100%;

        background-color: #d2d2d2;
    }


}


// -------------- record  -------------- 

.record {
    color: #000;
    background: url('../img/bg4.jpg');
    background-size: cover;
    background-position-y: -50px;

}

.record__heading {
    display: inline-block;
    padding: 20px;
    border-radius: 20px;

    color: #fff;
    background-color: rgba($color: #000, $alpha: 0.6);

}

.record__subtitle {
    display: inline-block;

    margin: 0 0 40px 0;
    padding: 10px;
    border-radius: 20px;

    color: #fff;
    font-size: 36px;
    background-color: rgba($color: #000, $alpha: 0.6);
}

.record__messengers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    max-width: 855px;
    padding: 40px 20px;
    margin: 0 auto;

    border-radius: 20px;
    box-shadow: 0 0 5px #606060;
    
    background-color: #222222;
}

.phone {
    color: #d2d2d2;
    font-size: 36px;
    max-width: 315px;
}

.messengers {
    display: flex;
    justify-content: space-between;

    width: 285px;
    padding: 10px 40px;
    border-radius: 20px;
    box-shadow: 0 0 5px #606060;

    background-color: #1a1a1a;
}

.messenger__link {

}

.messenger__img {
    width: 70px;
    height: 70px;
}


// -------------- PAGE-FOOTER  -------------- 

.page-footer {
    width: 100%;
    padding: 15px 0;
    background-color: #1a1a1a;
}

.page-footer__logo {
    justify-content: center;
}

.page-footer__img {
    width: 20px;
    height: 20px;  
    margin: 0 5px 0 0;  
}

.page-footer-logo-text {
    margin: 2px 0 0 0;
    font-size: 20px;

    color: #fff;
}

@import "adaptive.scss";
