* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "MorfinSans";
  src: url("../fonts/MorfinSans-Regular.woff2") format("woff2"), url("../fonts/MorfinSans-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: MorfinSans;
  text-transform: uppercase;
  text-align: center;
}

.heading {
  font-size: 60px;
  margin: 0 0 30px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.slider {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.arrow {
  display: grid;
  align-items: center;
  position: absolute;
  top: 0;
}
.arrow--left {
  left: 0;
}
.arrow--right {
  right: 0;
}

.arrow-btn {
  height: 100%;
  background-color: rgba(210, 210, 210, 0.3);
  transition: all 0.1s;
}
.arrow-btn:active {
  background-color: rgba(210, 210, 210, 0.7);
}

.arrow-img {
  display: block;
  width: 50px;
}

.hide {
  display: none !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.page-header {
  color: #fff;
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 5px 0;
  box-shadow: 0 0 2px #000000;
  background-color: #000000;
}

.page-header__row {
  display: flex;
  justify-content: space-between;
}

.page-header__img {
  margin: 0 10px 0 0;
  width: 50px;
  height: 50px;
}

.page-header__logo-text {
  margin: 5px 0 0 0;
  font-size: 50px;
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.page-header__nav.active {
  transform: scale(1);
}

.page-header__link {
  font-size: 24px;
  color: #fff;
  position: relative;
  transition: transform 0.3s;
}
@media (hover: hover) and (pointer: fine) {
  .page-header__link::before {
    content: "";
    transition: 0.2s;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    transform: scale(0);
  }
  .page-header__link:hover::before {
    transform: scale(1.2);
  }
}

.burger {
  display: none;
  background-color: transparent;
}

.burger__img {
  width: 40px;
  height: 40px;
}

.page-main {
  width: 100%;
  flex: 1 1 auto;
  padding: 60px 0 0 0;
}

.page-main__section {
  padding: 60px 0;
}

.about-us {
  padding-top: 30px;
  font-size: 24px;
  color: #d2d2d2;
  background: url("../img/bg1.jpg") no-repeat;
  background-size: cover;
}

.about-us__desc {
  display: flex;
}

.about-us__text-block {
  margin: 0 20px 0 0;
}

.about-us__text {
  text-align: left;
  line-height: 30px;
  transition: max-height 0.2s ease;
}

.about-us__open-text {
  display: none;
  width: 100%;
}

.about-us__arrow {
  width: 30px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address__bg {
  width: 399px;
  max-width: 100%;
  padding: 0 0 10px 0;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 10px #131313;
  background-color: rgba(0, 0, 0, 0.75);
}

.address__slider {
  margin: 0 0 10px 0;
}

.address__imgs {
  display: flex;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.address__img {
  border-radius: 20px;
  width: 100%;
  max-height: 225px;
}

.address__arrow .arrow-img {
  width: 40px;
}

.my-works {
  background: url("../img/bg9.jpg") no-repeat;
  background-size: cover;
}

.my-works__heading {
  display: inline-block;
  color: #000000;
}

.wraper1 {
  width: 855px;
  max-width: 100%;
}

.my-works__slider {
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
}

.my-works__imgs {
  display: flex;
  transition: transform 0.3s ease;
}

.my-works__item {
  max-width: 575px;
  max-height: 575px;
  width: 100%;
  height: auto;
}

.price {
  color: #d2d2d2;
  background: url("../img/bg3.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.price__heading {
  color: #fff;
}

.price__bg {
  padding: 40px 0;
  margin: 0 auto;
  width: 85%;
  background-color: #1a1a1a;
}

.price__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  width: 387px;
}

.price__item {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 24px;
}
.price__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #d2d2d2;
}

.record {
  color: #000;
  background: url("../img/bg4.jpg");
  background-size: cover;
  background-position-y: -50px;
}

.record__heading {
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.record__subtitle {
  display: inline-block;
  margin: 0 0 40px 0;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  font-size: 36px;
  background-color: rgba(0, 0, 0, 0.6);
}

.record__messengers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 855px;
  padding: 40px 20px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 5px #606060;
  background-color: #222222;
}

.phone {
  color: #d2d2d2;
  font-size: 36px;
  max-width: 315px;
}

.messengers {
  display: flex;
  justify-content: space-between;
  width: 285px;
  padding: 10px 40px;
  border-radius: 20px;
  box-shadow: 0 0 5px #606060;
  background-color: #1a1a1a;
}

.messenger__img {
  width: 70px;
  height: 70px;
}

.page-footer {
  width: 100%;
  padding: 15px 0;
  background-color: #1a1a1a;
}

.page-footer__logo {
  justify-content: center;
}

.page-footer__img {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
}

.page-footer-logo-text {
  margin: 2px 0 0 0;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1115px) {
  .about-us__desc {
    flex-direction: column;
    gap: 30px;
  }
  .about-us__text {
    text-align: center;
  }
  .about-us__text-block {
    margin: 0 auto;
    width: 75%;
  }
}
@media (max-width: 1024px) {
  .about-us {
    background-position-x: -200px;
  }
}
@media (max-width: 900px) {
  .burger {
    display: block;
  }
  .page-header__nav {
    flex-direction: column;
    align-items: start;
    position: absolute;
    bottom: -200px;
    right: 15px;
    background-color: #000;
    border-radius: 20px;
    box-shadow: 0 0 2px #d2d2d2;
    padding: 10px;
    width: auto;
    gap: 10px;
    transition: transform 0.1s;
    transform: scale(0);
  }
  .page-header__link::before {
    display: none;
  }
}
@media (max-width: 850px) {
  .about-us__text {
    max-height: 150px;
    overflow: hidden;
  }
  .about-us__open-text {
    display: block;
    background: transparent;
  }
  .my-works {
    background-position-x: -150px;
  }
}
@media (max-width: 720px) {
  .record__messengers {
    flex-direction: column;
    gap: 30px;
  }
  .messengers {
    width: 315px;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .my-works {
    background-position-x: -300px;
    background-position-y: -30px;
    background-repeat: repeat;
  }
  .my-works__heading {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 5px #606060;
  }
  .price__list {
    width: 80%;
  }
  .my-works__slider {
    max-width: 400px;
  }
  .my-works .arrow-img {
    width: 40px;
  }
}
@media (max-width: 470px) {
  .about-us {
    background-position-x: -400px;
  }
  .about-us__text-block {
    width: 100%;
  }
  .my-works {
    background-position-x: -350px;
  }
  .about-us__text {
    line-height: 24px;
    width: 100%;
  }
  .price__bg {
    width: 100%;
  }
  .price__list {
    width: 90%;
  }
  .record {
    background-position-x: -150px;
  }
}
@media (max-width: 390px) {
  .phone {
    font-size: 28px;
  }
}
@media (max-width: 360px) {
  .price__item {
    font-size: 20px;
  }
}
@media (max-width: 346px) {
  .my-works__heading {
    padding: 10px;
  }
  .price__item {
    font-size: 20px;
  }
}